@font-face {
    font-family: 'Bim';
    src: url('/fonts/bim/Bim-Kolobov.woff2') format('woff2'),
    url('/fonts/bim/Bim-Kolobov.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
