@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

@layer base {

    html {
        @apply text-[16px] md:!text-[14px] xl:text-[15px];
    }
}

body {
}

.content {
    @apply max-w-[1512px] mx-auto w-[90%];
}
