@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    margin: 0;
    box-sizing: border-box;
}

@layer base {

    html {
        @apply text-[16px] md:!text-[14px] xl:text-[15px] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    }
}

body {
}

input[type="text"] {
    @apply bg-transparent border-0 border-b border-white;
}

.content {
    @apply max-w-[1512px] mx-auto w-[90%];
}
