@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    margin: 0;
    box-sizing: border-box;
}

@layer base {

    html {
        @apply text-[16px] md:!text-[14px] xl:text-[15px] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden scroll-smooth;
    }
    body {
        @apply scroll-smooth;
    }
}



input[type="text"] {
    @apply text-2xl bg-transparent border-0 border-b border-white text-white placeholder:text-white focus:shadow-sm focus:!border-white focus:ring-0;
}

textarea {
    @apply text-2xl bg-transparent border rounded-2xl border-white text-white placeholder:text-white placeholder:opacity-50 focus:shadow-sm focus:!border-white focus:ring-0;
}

.content {
    @apply max-w-[1512px] mx-auto w-[90%];
}
